<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Details</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
<style type="text/css">
  h1{
        color:aqua;
        font-weight: bold;
        text-shadow: 2px 4px red;
    }

 .hea{
 text-align: center;
     background-color: rgba(156, 59, 231, 0.732);
    }
body
{
 background-image: url("https://pixy.org/src/474/4741120.png");
background-repeat: no-repeat;
  background-size: cover; 	
}
.links{
    text-align:right;

}
th{
text-align:center;
}
</style>
</head>
<body >
<div class="hea">
 <h1>RRN Intrusion Student Management System</h1>
</div>
<table  class="table table-striped  table-bordered">
  <thead  class="thead-dark">
 <tr>
 <th> <a href="addclassdetails"  class="btn btn-primary border border-danger">Course Details </a> </th>
 <th> <a href="getstudent"  class="btn btn-primary border border-danger">Student Details</a></th>
 <th><a href="joinsatudentdetails"  class="btn btn-primary border border-danger"  >Student join Details</a></th>
 <th> <a href="cuser" class="btn btn-primary border border-danger" >Course Details in User View</a></th>
 </tr>
</thead>
 
</table>

<div><p>


</p>

</div>

</body>
</html>